/packaging/debian/.debhelper/
/packaging/debian/debhelper-build-stamp
/packaging/debian/*.debhelper
/packaging/debian/*.log
/packaging/debian/files
/packaging/debian/storagenode.substvars
/packaging/debian/storagenode
storagenode*.buildinfo
storagenode*.changes
storagenode*.deb
*~

