#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_get storagenode/storagedir
db_set storagenode/old_storagedir "$RET"
storagedir=""

# requirements infos
db_input high storagenode/requirements || true
db_go

# identity directory
db_input high storagenode/identitydir || true
db_go

# wallet address
db_input high storagenode/wallet || true
db_go

# email
db_input high storagenode/email || true
db_go

# external address
db_input high storagenode/external_addr || true
db_go

# storage directory
while [ "$storagedir" = "" ]; do    
      # Get storage dir
      db_input high storagenode/storagedir || true
      db_go
      storagedir="$RET"
done

# allocated disk space
db_input high storagenode/diskspace || true
db_go

# advertised bandwidth
db_input high storagenode/bandwidth || true
db_go


